### pandas - Series
- index(label)을 통해 처리 가능한 1차원 배열

In [1]:
import numpy as np
import pandas as pd

In [2]:
stocks = ['NVDA', 'MSFT', 'AAPL', 'GOOG', 'TSLA']
stocks_ser = pd.Series(stocks)
print(type(stocks_ser))
print(stocks_ser[0])

stocks_ser.name = '미국 주식'
print(stocks_ser)

<class 'pandas.core.series.Series'>
NVDA
0    NVDA
1    MSFT
2    AAPL
3    GOOG
4    TSLA
Name: 미국 주식, dtype: object

In [3]:
nums_ser = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(nums_ser)

a   -0.883696
b    1.454308
c   -0.421755
d    0.328751
e    0.899870
dtype: float64

In [7]:
info = {
    'a': 10,
    'b': 20,
    'c': 30
}

info_ser = pd.Series(info)
print(info_ser)

info_ser.index = ['A', 'B', 'C']
print(info_ser)

a    10
b    20
c    30
dtype: int64
A    10
B    20
C    30
dtype: int64

In [8]:

movies = ['하얼빈', '소방관', '서브스턴스', '페라리', '페라리']
movies_ser = pd.Series(movies)
movies_ser

0      하얼빈
1      소방관
2    서브스턴스
3      페라리
4      페라리
dtype: object

In [9]:
print(movies_ser.values)
movies_ser.values

['하얼빈' '소방관' '서브스턴스' '페라리' '페라리']

array(['하얼빈', '소방관', '서브스턴스', '페라리', '페라리'], dtype=object)

In [10]:
print(movies_ser.array)
movies_ser.array

<NumpyExtensionArray>
['하얼빈', '소방관', '서브스턴스', '페라리', '페라리']
Length: 5, dtype: object

<NumpyExtensionArray>
['하얼빈', '소방관', '서브스턴스', '페라리', '페라리']
Length: 5, dtype: object

In [11]:
sp_500_df = pd.read_csv('./data/S_P500_Prices.csv')
sp_500_df

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [12]:
# df.squeeze() : DataFrame의 Series가 하나의 경우 Series 객체 반환
sp_500_df = sp_500_df.squeeze()
print(sp_500_df)

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64